<script data-goatcounter="https://whatisthecode.goatcounter.com/count" src="//gc.zgo.at/count.js" async></script>  
<script>  
    document.addEventListener('DOMContentLoaded', function () {  
        // Wait for GoatCounter to load  
        var t = setInterval(function () {  
            if (window.goatcounter && window.goatcounter.visit_count) {  
                clearInterval(t); // Stop the interval once GoatCounter is ready  
                window.goatcounter.visit_count({  
                    append: '#pageviews',  
                    callback: function () {  
                        const spinner = document.querySelector('#pageviews .fa-spinner');  
                        if (spinner) spinner.remove();  
                    }  
                });  
            }  
        }, 100);  
    });  
</script>