<!-- GoatCounter Tracking Script -->  
<script data-goatcounter="https://whatisthecode.goatcounter.com/count" src="//gc.zgo.at/count.js" async></script>  
<script>  
    // Append count to the correct element and remove spinner after loading  
    window.goatcounter.visit_count({  
        append: '#pageviews',   
        callback: function () {  
            const spinner = document.querySelector('#pageviews .fa-spinner');  
            if (spinner) spinner.remove();  
        }  
    });  
</script>  